# IntelliJ IDEA related files
.idea/
*.iml

# Compiled output directory
dist/

# Ignore node_modules (if relevant)
node_modules/

# Logs
logs/
*.log

# Ignore other temporary files
*.patch

# Ignore Next.js and Webpack cache
.next
build

# Optionally ignore all .pack.gz files anywhere in the project
*.pack.gz

# Ignore Webpack hot update files
*.webpack.hot-update.json

# Ignore all .tsbuildinfo files
*.tsbuildinfo